.prodDisplay{
    display: flex;
    flex-direction: row;
    padding: 0 6rem ;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 3%;
}

.imgDiv{
    width: 41.6%;
}

.img{
    width: 100%;
}

.prodDes{
    width: 25%;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prodName{
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: #120241;
}

.prodPrice{
    font-size: 1.5rem;
    line-height: 2rem;
    color: #120241;
}

.article{
    padding-left: 1rem/* 16px */;
    padding-right: 1rem;
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
    color: #120241;
}

.prodSelection{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem/* 16px */;
    padding-bottom: 1rem/* 16px */;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.selectDiv{
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

.qty{
    font-size: 1.5rem;
    margin-top: 5px;
    line-height: 1rem;
    color: #120241;
}

.select{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    border: 2px solid black;
    padding: 0.5rem;
}

.cartBtn{
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    padding: 0.5rem 4rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.discountBtn{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    padding: 0.5rem 2rem;
    --tw-bg-opacity: 1;
    background-color: rgb(21 128 61 / var(--tw-bg-opacity));
}

/* promo page styles */

.discountDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 41.666667%;
    margin-left: 2rem/* 32px */;
}

.rulesDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rulesHeading{
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
    font-weight: 700;
}

.rules{
    font-style: italic;
}

.referralDiv{
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid black;
}
.referralLabel{
    color: white;
    background-color: #120241;
    font-size: 15px;
    width: 20%;
    height: 100%;
    padding: 0.45rem 0;
}
.referral{
    padding: 0.25rem 1rem;
    font-style: italic;
    width: 65%;
    height: 100%;
}
.referral:focus{
    outline: none;
}

.copy{
    background-color:#120241;
    color: white;
    width: 15%;
    height: 100%;
    padding: 0.4rem 0;
}
.or{
    margin-top: 0.5rem/* 8px */;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}

.existingGroupButtonDiv{
    margin-top: 0.5rem;
}

.existingGroupButton{
    padding: 0.5rem 2rem;
    background-color:#120241 ;
    color: white;
}


@media screen and (max-width:1200px){
    .prodDisplay{
        display: flex;
        flex-direction: column;
        padding:0 8rem;
       }
    
       .imgDiv{
        width: 100%;
       }
    
       .selectDiv{
        padding: 1rem 8rem;
    }
    
       .prodDes{
        width: 100%;
       }
    
       .prodSelection{
        width: 100%;
        margin-top: 2rem;
       }
       .cartBtn{
        padding: 1rem 8rem;
       }

       .discountBtn{
         padding: 1rem 6rem;  
       }

       /* promo page */

       .rulesDiv{
        width: 60vw;
       }

       .referralDiv{
        width: 60vw;
    }
 } 

@media screen and (max-width:800px) {
   .prodDisplay{
    display: flex;
    flex-direction: column;
    padding:0 2rem;
   }

   .imgDiv{
    width: 100%;
   }

   .selectDiv{
    padding: 1rem 8rem;
}

   .prodDes{
    width: 100%;
   }

   .prodSelection{
    width: 100%;
    margin-top: 2rem;
   }

   .cartBtn{
    padding: 1rem 6rem;
   }

   .discountBtn{
     padding: 1rem 4rem;  
   }
   .discountDiv{
    margin-top: 2%;
    width: 100%;
    }
     .rulesDiv{
        width: 90vw;
     }
    .referralDiv{
        width:90vw;
    }
    .referralLabel{
        width: 25%;
        height: 100%;
    }

    .referral{
        width: 62% ;
    }

    .copy{
        height: 100%;
        width: 13%;
    }
}


